body{
margin:0;
font-family:Arial;
background: linear-gradient(120deg,#ff9a9e,#fad0c4,#a18cd1,#84fab0);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:white;
padding:40px;
border-radius:20px;
text-align:center;
width:450px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

h1{
color:#ff4b5c;
}

.subtitle{
color:#555;
}

select{
padding:10px;
border-radius:10px;
font-size:16px;
}

button{
background:#ff4b5c;
color:white;
border:none;
padding:12px 25px;
border-radius:10px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#ff1e3c;
}

.box{
margin-top:20px;
background:#f4f4f4;
padding:15px;
border-radius:10px;
}

p{
font-size:16px;
}